/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.ordenar-botones {
    display: flex;
    justify-content: flex-end;
}

.ordenar-boton {
    margin-left: 1em;
}

.ordenar-ventana {
    width: 80%;
    height: 80%;

}

.ordenar-ventana .modal-title {
    width: 100%;
    text-align: center;
}    

.ordenar-ventana .modal-content {
    overflow-y: hidden;
}

.ordenar-separacion {
    display: grid;
    grid-template-columns: minmax(auto, calc(50% - 5px)) minmax(auto, calc(50% - 5px));
    gap: 10px;  
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding-top: 1em;
}

.ordenar-archivo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    background-color: var(--background-modifier-form-field);
    border: 2px solid var(--interactive-normal);
    border-radius: 0.5em;
    min-height: 100%;
    overflow-y: auto;

    align-items: inherit;
    justify-content: inherit;
    font-weight: inherit;
    text-align: inherit;
}

.ordenar-archivo:not(.clickable-icon) {
    background-color: var(--background-modifier-form-field);
    border: 2px solid var(--interactive-normal);
}

.ordenar-archivo:hover {
    opacity: 0.8;
    background-color: var(--interactive-hover);
    border: 2px solid var(--interactive-accent);
}

.ordenar-archivo hr {
    margin: 0;
}

.ordenar-archivo-contenido {
    width: 100%;
    white-space: initial;
}

.ordenar-archivo-contenido .block-language-tikz {
    display: flex;
    justify-content: center;
}

.ordenar-archivo-contenido h1,
.ordenar-archivo-contenido h2,
.ordenar-archivo-contenido h3,
.ordenar-archivo-contenido h4,
.ordenar-archivo-contenido h5,
.ordenar-archivo-contenido h6 {
    padding-top: 0.5em;
}